@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --radius: 15px;
  --primary-color: #0a0a0a;
  --secondary-color: #171717;
  --ternary-color: #43d55c;
  --border-color: #171717;
  --text-color: rgb(255, 255, 255);
  --grid-color: #0a0a0a;
}

::selection {
  background: var(--border-color);
}

* {
  outline: none;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  width: 640px;
  margin: auto;
}

body p {
  margin-left: 7px;
}

body button,
body input {
  cursor: pointer;
  border: none;
}

.element {
  background-color: var(--secondary-color);
  margin: 15px 0;
  padding: 5px 15px;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
}

.snake {
  background-color: var(--ternary-color) !important;
}

.apple {
  background-color: var(--text-color) !important;
}

.top .title {
  margin: 0 0 0 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top .title h1 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}

.top .title a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.top .grid {
  margin: auto;
  margin-bottom: 15px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
}

.top .grid div {
  width: 20px;
  height: 20px;
  background-color: var(--grid-color);
}

.top .grid div:nth-child(1) {
  border-top-left-radius: var(--radius);
}

.top .grid div:nth-child(30) {
  border-top-right-radius: var(--radius);
}

.top .grid div:nth-child(900) {
  border-bottom-right-radius: var(--radius);
}

.top .undergrid {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.top .undergrid .infos {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  margin-top: -16px;
  margin-left: 4px;
  width: 200px;
  padding: 4px 0;
  justify-content: center;
}

.top .undergrid .infos span span {
  margin: 0 10px;
  font-size: 30px;
}

.top .undergrid .infos span span.score {
  font-weight: 700;
}

.top .undergrid button.start-stop {
  background-color: white;
  color: black;
  font-size: 15px;
  border-radius: var(--radius);
  margin-top: -10px;
  margin-right: 8px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

.save {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.save form {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 15px 0;
}

.save form input {
  padding: 9px 15px;
  width: 70px;
  border-radius: var(--radius);
  background-color: var(--primary-color);
  margin: 0 2px;
  color: grey;
  font-weight: 700;
}

.save form button {
  background-color: white;
  color: black;
  padding: 8px 15px;
  border-radius: var(--radius);
  margin: 0 22px;
  font-weight: 700;
}

.save form button i {
  margin-right: 10px;
}

.score-list {
  text-align: center;
}

.score-list .total {
  background-color: var(--primary-color);
  padding: 8px 20px;
  border-radius: var(--radius);
  display: inline-block;
  margin: auto;
  margin-top: 10px;
}

.score-list .total #list-total {
  text-align: center;
  font-weight: 700;
}

.score-list #scoresList {
  text-align: left;
  list-style-type: none;
  margin: auto;
  padding: 0;
  padding-bottom: 50px;
  margin-top: 10px;
}

.score-list #scoresList li {
  display: grid;
  grid-template-columns: 50px 350px 100px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  border-radius: 10px;
  margin-top: 5px;
  transition: 0.2s;
  cursor: default;
}

.score-list #scoresList li span.ranking-number {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-size: 30px;
}

.score-list #scoresList li span.pseudo {
  font-size: 17px;
}

.score-list #scoresList li span.score {
  text-align: right;
}

.score-list #scoresList li:hover {
  background-color: var(--grid-color);
}

footer a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */